*env
model/
venv/
receipt/
postgreSQL/

src/__pycache__/
src/test.py

src/download_model.py

server_2.py
src/API/__pycache__/



app/

App/node_modules/
App/eslint.config.js
App/README.md
App/src/assets/