fastapi==0.136.1
uvicorn==0.47.0

torch==2.3.1+cpu
torchvision==0.18.1+cpu

easyocr==1.7.2

opencv-python-headless==4.13.0.92
numpy==2.2.6
pillow==12.2.0

python-multipart==0.0.29

gdown==6.0.0
python-dotenv==1.2.2

psycopg2-binary==2.9.12

requests==2.34.2